DB_NAME=inradapp
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
RABBIT_HOST=localhost
PYTHONUNBUFFERED=1
DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@admin.com